@import url(https://fonts.googleapis.com/css?family=Montserrat);
body,
html {
  margin: 0;
  padding: 0;
  font-family: "Montserrat", sans-serif;
  background: #0c111b;
}

.container {
  margin-top: 30px;
}

footer {
  margin-top: 30px;
}

.hero-nav {
  z-index: 10;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: auto;
  width: 100vw;
  overflow: hidden;
}
.hero-nav .hero-nav__inner {
  z-index: 2;
}
.hero-nav:before {
  content: "";
  background: rgba(0, 0, 0, 0);
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  transition: background 400ms;
}
.hero-nav.fixme:before {
  background: #0c111b;
}

#NavBar {
  z-index: 10;
}

.navTitle {
  font-size: 25px;
  font-style: oblique;
  font-weight: bolder;
  color: rgba(221, 174, 118, 0.8784313725);
}

#logo {
  top: 0;
  height: 30px;
  width: 30px;
}

#logo-name {
  padding-top: 15px;
  margin-top: 10px;
  padding-left: 5px;
  font-size: 30px;
  color: rgba(221, 174, 118, 0.8784313725);
  font-weight: bold;
  text-shadow: 0px 1px 4px;
}

.navBgColor {
  background-color: #0c111b;
}

/* carousel  */
#heroCarousel {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 0;
}

.carousel-inner {
  height: auto;
  width: 100vw;
}

.carousel-inner .carousel-item img {
  height: 100vh;
  width: 100%;
  -o-object-fit: cover;
  object-fit: cover;
}

/* content*/
.card-title {
  font-size: medium;
}

.card-body {
  opacity: 0;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
  background: linear-gradient(to bottom, rgba(84, 129, 207, 0), #192133 90%);
  padding: 10px;
  transition: 0.5s;
}

.card:hover {
  transform: scale(1.4);
  z-index: 3;
  scroll-behavior: smooth;
}

.card:hover img {
  opacity: 0;
}

.card:hover .card-body {
  opacity: 1;
  background-color: #0c111b;
  overflow-y: auto;
  scrollbar-width: 2px;
}

.card-body p {
  font-size: x-small;
  font-weight: 200;
  font-style: italic;
  color: rgb(154, 164, 232);
}

.title {
  color: rgba(36, 169, 195, 0.7019607843);
  opacity: 0.9;
  text-transform: capitalize;
  font-size: 30px;
  font-weight: 500;
  text-shadow: 2px 2px 5px;
}

/* contact us  */
#contactUs {
  background: -webkit-linear-gradient(left, #1f0103, #001217);
  width: 75%;
}

#contactUs #close {
  position: absolute;
  top: 0;
  right: 0;
  background-color: #0d1b2b;
}

.contact-form {
  background: #462b2b;
  margin-top: 10%;
  margin-bottom: 5%;
  width: 70%;
  height: 80%;
}

.contact-form .form-control {
  border-radius: 1rem;
}

.contact-image {
  text-align: center;
}

.contact-image img {
  border-radius: 6rem;
  width: 11%;
  margin-top: -3%;
  transform: rotate(29deg);
}

.contact-form form {
  padding: 14%;
}

.contact-form form .row {
  margin-bottom: -7%;
}

.contact-form form .row .form-group {
  padding-bottom: 4%;
}

.contact-form h3 {
  margin-bottom: 8%;
  margin-top: -10%;
  text-align: center;
  color: #ad3a3a;
}

.contact-form .btnContact {
  width: 50%;
  border: none;
  border-radius: 1rem;
  padding: 1.5%;
  background: #dc3545;
  font-weight: 600;
  color: #fff;
  cursor: pointer;
}

.btnContactSubmit {
  width: 50%;
  border-radius: 1rem;
  padding: 1.5%;
  color: #fff;
  background-color: #0062cc;
  border: none;
  cursor: pointer;
}

.skw-pages {
  overflow: hidden;
  position: relative;
  height: 100vh;
}

.skw-page {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
}
.skw-page__half {
  position: absolute;
  top: 0;
  width: 50%;
  height: 100vh;
  transition: transform 1s;
}
.skw-page__half--left {
  left: 0;
  transform: translate3d(-32.4vh, 100%, 0);
}
.skw-page__half--right {
  left: 50%;
  transform: translate3d(32.4vh, -100%, 0);
}
.skw-page.active .skw-page__half {
  transform: translate3d(0, 0, 0);
}
.skw-page__skewed {
  overflow: hidden;
  position: absolute;
  top: 0;
  width: 140%;
  height: 100%;
  transform: skewX(-18deg);
  background: #000;
}
.skw-page__half--left .skw-page__skewed {
  left: -40%;
}
.skw-page__half--right .skw-page__skewed {
  right: -40%;
}
.skw-page__content {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-flow: column wrap;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  padding: 0 30%;
  color: #fff;
  transform: skewX(18deg);
  transition: transform 1s, opacity 1s;
  background-size: cover;
}
.skw-page__half--left .skw-page__content {
  padding-left: 30%;
  padding-right: 30%;
  transform-origin: 100% 0;
}
.skw-page__half--right .skw-page__content {
  padding-left: 30%;
  padding-right: 30%;
  transform-origin: 0 100%;
}
.skw-page.inactive .skw-page__content {
  opacity: 0.5;
  transform: skewX(18deg) scale(0.95);
}
.skw-page__heading {
  margin-bottom: 15px;
  text-transform: uppercase;
  font-size: 25px;
  text-align: center;
  text-shadow: 1px 0px 4px;
}
.skw-page__description {
  font-size: 18px;
  text-align: center;
}
.skw-page__link {
  color: #FFA0A0;
}
.skw-page-1 .skw-page__half--left .skw-page__content {
  background: url(./images/favicon/android-chrome-512x512.png);
}
.skw-page-1 .skw-page__half--right .skw-page__content {
  background: #141c2d;
}
.skw-page-2 .skw-page__half--left .skw-page__content {
  background: #141c2d;
}
.skw-page-2 .skw-page__half--right .skw-page__content {
  background: url(./images/about/p2.jpg);
}
.skw-page-3 .skw-page__half--left .skw-page__content {
  background: url(./images/about/p1.jpg);
}
.skw-page-3 .skw-page__half--right .skw-page__content {
  background: #141c2d;
}

/*# sourceMappingURL=style.css.map */
